{% extends 'baseM.html' %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center vh-80">
    <div class="card col-lg-6">
        <div class="card-body d-flex flex-column align-items-center">
            <h3 class="card-title mb-4 font-weight-bold">Formulaire de Prescription</h3>
            <form method="post" class="w-75" enctype="multipart/form-data" id="prescriptionForm">
                {% csrf_token %}

                {% for i in "1234" %}
                <div class="mb-3">
                    <label for="med{{ i }}" class="form-label font-weight-bold">Médicament {{ i }} :</label>
                    <select name="med{{ i }}" class="form-select">
                        <option value="">Choisissez</option>
                        {% for produit in produits %}
                        <option value="{{ produit.nom }}">{{ produit.nom }}</option>
                        {% empty %}
                        <option value="" class="font-weight-bold">Aucun médicament</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}

                <button type="submit" class="btn font-weight-bold text-light "   style="width: 100%; background: #8cbf43;">Valider la prescription</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
