{% extends 'baseA.html' %}
{% block content %}
{% include 'baseMenu.html' %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            {% if messages %}
            <div class="m-9 alert alert-success alert-dismissible fade show" role="alert">
                <ul>
                {% for message in messages %}
                <li class="text-center"> {% if message.tags %} {{ message }}  {% endif %}</li>
                {% endfor %}
                </ul>
                <button type="button" class="close" data-dismiss="alert"> <span>&times;</span> </button>

            </div>
             {% endif %}
             <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap mb-3">
                        <h2 class="title-3"><a href="{% url 'accueil'%}"><- Accueil </a></h2>
                        <a href="{% url 'ajouter_medecin' %}">
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Ajouter un medecin</button></a>
                    </div>
                </div>
            </div>


            <h2 class="text-center text-light pt-2 pb-3 text-uppercase"  style="background-color:#8cbf43;">La Liste des produits</h2>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-bordered table-data3">
                            <thead  style="background-color:#8cbf43;">
                                <tr>
                                <th>Nom d'utilisateur(s)</th>
                                <th>Nom(s)</th>
                                <th>Prenom(s)</th>
                                <th>Mot de passe(s)</th>
                                <th>Dates D'ajout</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                {% for m in m  %}
                                <tr>
                                    <td>{{ m.medecin.username }}</td>

                                    <td>{% if m.medecin.last_name %}{{m.medecin.last_name }} {% else %} Pas de Nom{% endif %}</td>
                                    <td>{% if m.medecin.first_name %}{{m.medecin.first_name }} {% else %} Pas de Prenom{% endif %}</td>
                                    <td>{{  m.medecin.password|slice:":50"}}... </td>
                                    <td>{{  m.medecin.date_joined }}</td>
                                    <td>
                                        <div class="table-data-feature">

                                            <a href="{% url 'modifier_medecin' m.medecin.pk %}"><button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editer">
                                              <i class="zmdi zmdi-edit"></i>
                                            </button></a>


                                            <a href="{% url 'sup_medecin' m.pk %}"> <button onclick="return confirm('voulez-vous supprimer ce medecin ? ')" class="item" data-toggle="tooltip" id="delete" data-placement="top" title="" data-original-title="supprimer">
                                                  <i class="zmdi  zmdi-delete"></i>
                                            </button></a>

                                        </div>
                                    </td>

                                </tr>
                                {%empty%}
                                <h2 class="text-center"> Aucun medecin pour le moment </h2>
                                <br>
                                {% endfor %}
                            </tbody>

                    </table>


                </div>
                <!-- END DATA TABLE-->
            </div>


        </div>
    </div>
</div>

{% endblock content %}
